/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/





body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    }

        
.obal {
     /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 960px;
     }
     
    
 

/* ----- zde začni psát vlastní CSS ----- */

.navbar {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background-color:white;
    color: black;
}

.brand-title {
    font-size: 16px;
    margin: .5rem;
    font-weight:bold;
}

.navbar-links {
    height: 100%;
    
}

.navbar-links ul {
    display:flex;
    margin: 0;
    padding: 0;
   
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
   

}

.navbar-links li:hover {
    
    text-decoration:underline;
    transform: translateY(-5px);
    transition-duration:0.5s;
}
 
.navbar-links li{
   transition-duration:0.2s;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color:black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


    

.hlavicka{
    background-image:url(images/pozadi.jpg);
    color:white;
    padding:30px 30px;
    position:relative;
   
   }
   
.hlavicka a{
    color:white;
}

.hlavicka .foto-telefonu {
    position:absolute;
    bottom:0px;
    right:0px;
    
}

.hlavicka h1{
    font-size:64px;
    font-weight:400;
    
}

.hlavicka h2{
    font-size:32px;
    font-weight:300;
   
}

.odkazy{
    padding:0px;
}
.odkazy li{
    display:inline-block;
    
}
.odkazy a{
   
    color: white;
    padding:10px 30px;
    text-align: center;
    font-weight: 400;
    display:block;
    text-decoration:none;
       
}

.odkazy .stahnout-zdarma{
    border: solid 1px white;
    border-radius: 10px;
    background-color: #48418e;
    margin-right:10px;
    transition-duration: 2000ms;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.odkazy .vice-informaci{
    border: solid 1px white;
    border-radius: 10px;
    transition-duration: 2000ms;
    transition-delay: 0s;
    transition-timing-function: linear;
}


.stahnout-zdarma:hover {
    background-color: #e74c3c;
    transform: rotate(360deg);
}

.vice-informaci:hover {
    background-color: #48418e;
    transform: rotate(360deg);
}

.column-layout{
    display:flex;
    margin:40px;
    text-align:center;
    
}

.cestuj-po-svete{
    flex:1;
    font-size: 14px;

}

.chatuj-s-prateli{
    flex:1;
    font-size: 14px;

}

.zazij-dobrodruzstvi{
    flex:1;
    font-size: 14px;

}

.column-layout h3{
    color:#48418e;
    text-align: center;
}

.column-layout img{
    margin-left: 10px ;
 }

 .column-layout p {
    padding: 8px 30px;
 }


.paticka{
    background-color:#48418e;
    color:white;
    text-align:center;
    padding: 10px 0;
    font-size:10px;
}

@media screen and (max-width: 760px) {
   

    .column-layout{
        flex-direction:column ;
        
    }

     img#optional{
        display:none;
    }
}






